name: iOS IPA Build

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.16.0"

      - name: Install Dependencies
        run: flutter pub get

      - name: Enable iOS
        run: flutter config --enable-ios

      - name: Build iOS (IPA)
        run: flutter build ios --release --no-codesign

      # NEW artifact action (v4)
      - name: Upload IPA Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ios-ipa
          path: build/ios/iphoneos/Runner.app
